In [1]:
import pandas as pd

In [60]:
'''
Loading Data from Local Computer
Each author is a subfolder, and within each folder is a series of .txt files
The goal of this cell is to load all the contents of every subfolder into the 
DataFrame, while retaining the author designation for those works.
'''

from os import listdir

def multiple_file_load(file_directory):
    
    # identifying all author subfolders - appending them into list 
    
    authorlist = []
    textlist = []
    
    for author in listdir(file_directory):
        authorname = str(author)
        author_sub_directory = (file_directory + '/' + author) #author file path
    
    # identifying all files within each subfolder - 
    
        for filename in listdir(author_sub_directory):
            text_file_path = (author_sub_directory + '/' + filename) # text file path
            
            if (filename.lower().endswith('txt')):
                authorlist.append(authorname)
                textfile = open(text_file_path,'r') # this is how you open files
                substantive_text = textfile.read()  # this is how to read a file
                textlist.append(substantive_text)   # this is how to do something with that file
                textfile.close()                    # this is how to close the file 
                                                             # (you must close one before opening another!)
  # pushing the two lists into a dataframe 

    df = pd.DataFrame({'Author':authorlist, 'Text':textlist})
    
    return df

In [61]:
# loading training data (note the file path)
df_train = multiple_file_load('D:/Github/Data-Science-Bootcamp/CAPSTONE - Unsupervised Learning/C50/C50train')

In [82]:
df_train.head()

,Author,Text,Word Count,Character Count
0,AaronPressman,The Internet may be overflowing with new techn...,319,2009
1,AaronPressman,The U.S. Postal Service announced Wednesday a ...,416,2604
2,AaronPressman,Elementary school students with access to the ...,72,491
3,AaronPressman,An influential Internet organisation has backe...,463,2907
4,AaronPressman,An influential Internet organisation has backe...,356,2299

In [83]:
import re

In [84]:
# adding the space in the authors...because I want it

author_split = [re.findall('[A-Z][a-z]*', i) for i in df_train.Author]

In [85]:
author_split[:5]

[['Aaron', 'Pressman'],
 ['Aaron', 'Pressman'],
 ['Aaron', 'Pressman'],
 ['Aaron', 'Pressman'],
 ['Aaron', 'Pressman']]

In [86]:
author_join = []

for couple in author_split:
    joined_string = couple[0] + ' ' + couple[1]
    author_join.append(joined_string)

In [87]:
df_train['Author'] = pd.Series(author_join)
df_train.tail()

,Author,Text,Word Count,Character Count
2495,William Kazer,China's central bank chief has said that infla...,404,2425
2496,William Kazer,"China ushered in 1997, a year it has hailed as...",632,3900
2497,William Kazer,China issued tough new rules on the handling o...,330,1985
2498,William Kazer,China will avoid bold moves in tackling its ai...,524,3085
2499,William Kazer,Communist Party chief Jiang Zemin has put his ...,636,3819

In [88]:
# adding word count to df_train

df_train['Character Count'] = pd.Series([len(i) for i in df_train['Text']])
df_train['Word Count'] = pd.Series([len(i.split()) for i in df_train['Text']])
df_train.head()

,Author,Text,Word Count,Character Count
0,Aaron Pressman,The Internet may be overflowing with new techn...,319,2009
1,Aaron Pressman,The U.S. Postal Service announced Wednesday a ...,416,2604
2,Aaron Pressman,Elementary school students with access to the ...,72,491
3,Aaron Pressman,An influential Internet organisation has backe...,463,2907
4,Aaron Pressman,An influential Internet organisation has backe...,356,2299

In [74]:
# checking for duplicates

s1 = df_train['Text'][3]
s2 = df_train['Text'][4]
print(s1)
print('\n', s2) # ctrl + f'ing the differences - there appear to be differences (word count and character count support that)

An influential Internet organisation has backed away from a proposal to dramatically expand the number of addresses available on the global computer network.
The Internet Society, which helps develop and coordinate Internet standards, announced this week that instead of moving ahead with the proposal it would form a nine-member committee to study the issue.
Unveiled in August, the proposal was an attempt to quell the growing number of disputes over desirable address names.
"There just seems to be no consensus at all," said Don Heath, president of the society. A variety of objections and questions have been raised about the August proposal, from technical networking issues to concerns about protection for trademarks and intellectual property.
"We thought we should try to pull it all together and have a good cross-section of people to discuss it and see if we can't reach a consensus," he said.
The new committee ought to finish its work by early next year and new names could be doled out four to six months later, Heath said. The committee could decide not to go forward with any address expansion, but Heath said that was an unlikely outcome.
"The facts of life are that people want descriptive names and vanity plates," Heath said.
Disputes over Internet names are occuring with increasing frequency as more companies seek to publicise and market their products over the Net.
For example, Viacom Inc.'s MTV cable music channel fought with one of its employees who had registered "mtv.com," eventually regaining control of the name in an out-of-court settlement.
Every site on the World Wide Web must have a unique address name. Most addresses end with one of a few three letter designations, known as top-level domains, including "com" for private sites, "gov for government sites and "edu" for sites run by schools.
In August, Internet Assigned Numbers Authority said it would oversee the creation of up to 150 new top level domains, easing the squeeze, especially for names in the private sector category.
The authority, operating under charter from the society and the Federal Network Council, is the central coordinator of Internet addresses and other standards.
The society's board of trustees voted in June to accept a preliminary version of the numbers authority proposal, with the proviso that the business aspects of proposal be fleshed out.
But with the ensuing controversy, the society decided a committee was needed to reexamine the proposal, Heath said. The committee will meet confer mostly by telephone and online, though an open forum is planned for mid-December in California.
The committee will include two members appointed by the society, two by the numbers authority and two by the Internet Architecure Board.
The International Telecommunication Union, the World Intellectual Property Organisation and the International Trademark Association will each appoint one member.


 An influential Internet organisation has backed away from a proposal to dramatically expand the number of addresses available on the global computer network.
The Internet Society, which helps develop and coordinate Internet standards, announced this week that instead of moving ahead with the proposal it would form a nine-member committee to study the issue.
Unveiled in August, the proposal was an attempt to quell the growing number of disputes over desirable address names.
"There has been considerable international debate on various aspects of the proposal with no consensus," Don Heath, president of the society, said in a statement. "It is in the best interest of the continued beneficial evolution of the Internet that these issues be aired and resolved."
Disputes over Internet names are occuring with increasing frequency as more companies seek to publicise and market their products over the Net.
For example, Viacom Inc.'s MTV cable music channel fought with one of its employees who had registered "mtv.com," eventually regaining control of the name in an out-of-court settlement.
Every site on the World Wide Web must have a unique address name. Most addresses end with one of a few three letter designations, known as top-level domains, including "com" for private sites, "gov for government sites and "edu" for sites run by schools.
In August, Internet Assigned Numbers Authority said it would oversee the creation of up to 150 new top level domains, easing the squeeze, especially for names in the private sector category.
The authority, operating under charter from the society and the Federal Network Council, is the central coordinator of Internet addresses and other standards.
The society's board of trustees voted in June to accept a preliminary version of the numbers authority proposal, with the proviso that the business aspects of proposal be fleshed out.
But with the ensuing controversy, the society decided a committee was needed to reexamine the proposal, Heath said.
The committee will include two members appointed by the society, two by the numbers authority and two by the Internet Architecure Board.
The International Telecommunication Union, the World Intellectual Property Organisation and the International Trademark Association will each appoint one member.

In [78]:
# checking these counts
import collections

c = collections.Counter(df_train['Character Count'])
print(c.most_common(5))

[(2802, 6), (3172, 5), (2718, 5), (3225, 5), (2639, 5)]

In [89]:
df_check = df_train[(df_train['Character Count'] == 2802) | (df_train['Character Count'] == 3172) | 
                   (df_train['Character Count'] == 2718) | (df_train['Character Count'] == 3225)].copy()

df_check = df_check.sort_values(by='Character Count', ascending=False)
df_check.head(20)

,Author,Text,Word Count,Character Count
1357,Lynne O,Asian traders raised their eyebrows on Monday ...,553,3225
39,Aaron Pressman,The various sectors of the U.S. financial serv...,482,3225
170,Benjamin Kang,China called on Taiwan on Tuesday to show good...,512,3225
1890,Peter Humphrey,Britain's Prince Andrew has arrived in Hong Ko...,554,3225
669,Jane Macartney,If foreign governments thought Beijing listene...,538,3225
1058,Keith Weir,"Marjorie Scardino, set to become Pearson chief...",554,3172
1888,Peter Humphrey,China and Britain moved closer on Friday to re...,511,3172
19,Aaron Pressman,The Federal Reserve took another step Friday t...,497,3172
815,Joe Ortiz,The world's major banks are busy jockeying for...,518,3172
450,Eric Auchard,"Computer Associates International Inc., a lead...",480,3172
920,Jonathan Birt,Yorkshire-based chemicals group Allied Colloid...,457,2802
1393,Lynne O,China's ban on poultry imports from two U.S. s...,459,2802
1603,Matthew Bunce,Ivory Coast 1996/97 cocoa marketing season beg...,448,2802
1619,Matthew Bunce,Ivory Coast's coffee industry faces more Caist...,459,2802
1739,Mure Dickie,European record business executives on Friday ...,436,2802
2172,Scott Hillis,North Korea expects a shortfall of two million...,478,2802
28,Aaron Pressman,House Banking Committee chairman Jim Leach int...,419,2718
715,Jan Lopatka,Czech National Bank (CNB) Governor Josef Tosov...,452,2718
2043,Roger Fillion,U.S. Vice President Al Gore on Wednesday defen...,431,2718
2400,Todd Nissen,The engines have started in the race to succee...,447,2718

In [ ]:
# okay! no duplicates! yay!
# could have more easily done pd.drop_duplicates, but whatever man